<mat-toolbar>
  <!-- logo -->
  <button mat-button routerLink="/inicio">  <img style="width: 60px; height: 55px;" src="./assets/logo.png" alt="logo">
  </button>

  <!-- Menú desplegable para cuando la pantalla sea menor a 700px -->
  <button id="menuSecciones" mat-icon-button class="example-icon" [matMenuTriggerFor]="seccion">
    <mat-icon>menu</mat-icon>
  </button>
  
  <mat-menu #seccion="matMenu"> 
    <button mat-menu-item routerLink="/inicio">Inicio</button>
    <button mat-menu-item [matMenuTriggerFor]="producto">Productos</button> 
    <button mat-menu-item routerLink="/admin">Admin</button>
  </mat-menu>

  <span>ATLETHE</span>


  <!-- Se van a mostrar cuando la pantalla sea mayor a 700px -->
  <!-- Botón para la vista de Inicio -->
  <button id="menuInicio" mat-button routerLink="/inicio">Inicio</button>
  
  <!-- Menu desplegable -> PRODUCTOS -->
  <button id="menuProducto" mat-button [matMenuTriggerFor]="producto">Productos<button mat-button [matMenuTriggerFor]="producto"><mat-icon>arrow_drop_down</mat-icon></button></button>
  
  <mat-menu #producto="matMenu">
    <button mat-menu-item routerLink="./producto">Camisetas</button>
    <button mat-menu-item routerLink="/alimentacion">Pantalones</button>
    <button mat-menu-item routerLink="/indumentaria">Camperas</button>
    <button mat-menu-item routerLink="/juguetes">Botines</button>
  </mat-menu>

  <button id="menuAdmin" mat-button routerLink="/admin">Admin</button>

  <span class="example-spacer"></span>

  <!--Buscador-->
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
  </form>

  <!-- Inicio de sesión y el Registro de un nuevo usuario -->
  <button mat-icon-button [matMenuTriggerFor]="usuario" title="Registrarse/Iniciar-Sesión"><mat-icon>person</mat-icon></button>
  <mat-menu #usuario="matMenu">
    <button mat-menu-item routerLink="/registro">Registrarse</button>
    <button mat-menu-item routerLink="/inicio-sesion">Iniciar Sesión</button>
  </mat-menu>

  <!-- Carrito -->
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
    title="Comprar">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <!--label para modo oscuro-->
  <label for="toggle" id="label_toggle" title="Cambiar Fondo"><i class="fa-solid fa-moon"></i></label>
  <input type="checkbox" id="toggle" (click)="cambiarFondo()">

</mat-toolbar>