

<table class="table table-dark table-striped-columns" id="footer">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Asistencia</th>
            <th scope="col">Síguenos</th>
            <th scope="col">Información</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Preguntas Frecuentes</td>
            <td><img title="Facebook" src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/NE_Wfacebook_image_footer_tcm217_875964_307e7730ff.png" alt="Facebook"></td>
            <td>Sobre Nosotros</td>
          </tr>
          <tr>
            <td>Formas De Pago</td>
            <td><img title="Instagram" src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/NE_Winstagram_logo_footer_tcm209_875968_e40414a503.png" alt="Instagram"></td>
            <td>Sucursales</td>
          </tr>
          <tr>
            <td>Envíos</td>
            <td><img title="Tik Tok" src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/NE_Wtiktok_black_share_icon1189_tcm217_875969_a2d6207dfa.png" alt="tik tok"></td>
            <td>Dirección</td>
          </tr>
        </tbody>
      </table>
  </table>