<div class="container">
  <table class="table table-dark table-striped-columns" id="footer">
    <table class="table">
      <thead>
        <tr>
          <td scope="col"><b>Asistencia</b></td>
          <td scope="col"><b>Síguenos</b></td>
          <td scope="col"><b>Información</b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a style="color: black;" href="#">Preguntas Frecuentes</a></td>
          <td><a href="www.facebook.com"><img title="Facebook"
              src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/NE_Wfacebook_image_footer_tcm217_875964_307e7730ff.png"
              alt="Facebook"></a></td>
          <td><a style="color: black;" href="#nosotros">Sobre Nosotros</a></td>
        </tr>
        <tr>
          <td><a style="color: black;" href="#">Formas De Pago</a></td>
          <td><a href="https://www.instagram.com/"><img title="Instagram"
              src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/NE_Winstagram_logo_footer_tcm209_875968_e40414a503.png"
              alt="Instagram"></a></td>
          <td><a style="color: black;" href="#">Sucursales</a></td>
        </tr>
        <tr>
          <td><a style="color: black;" href="#">Envíos</a></td>
          <td><a href="https://www.tiktok.com/upload?lang=es"><img title="Tik Tok"
              src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/NE_Wtiktok_black_share_icon1189_tcm217_875969_a2d6207dfa.png"
              alt="tik tok"></a></td>
          <td><a style="color: black;" href="#">Dirección</a></td>
        </tr>
      </tbody>
    </table>
  </table>
</div>

<div class="_footer_bottom_1mryh_1">
  <ul class="_legal_menu_1mryh_9">
    <li class="_legal_menu__item_1mryh_21">
      <a>Cookies</a>
    </li>
    <li class="_legal_menu__item_1mryh_21">
      <a>Reclamos</a>
    </li>
    <li class="_legal_menu__item_1mryh_21">
      <a>Política de Privacidad</a>
    </li>
    <li class="_legal_menu__item_1mryh_21">
      <a>Términos y Condiciones</a>
    </li>
  </ul>

  <div class="_colophon_1mryh_63">
    <span> © 2024 Rio Negro-Argentina</span>
  </div>
</div>

<!--
  <table class="table table-dark table-striped-columns" id="footer">
    <table class="table">
        <thead>
          <tr>
            <a href="#" scope="col">Asistencia</a>
            <a href="#" scope="col">Síguenos</a>
            <a href="#" scope="col">Información</a>
          </tr>
        </thead>
        <tbody>
          <tr>
            <a href="#">Preguntas Frecuentes</a>
            <a href="#"><img title="Facebook" src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/NE_Wfacebook_image_footer_tcm217_875964_307e7730ff.png" alt="Facebook"></a>
            <a href="#">Sobre Nosotros</a>
          </tr>
          <tr>
            <a href="#">Formas De Pago</a>
            <a href="#"><img title="Instagram" src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/NE_Winstagram_logo_footer_tcm209_875968_e40414a503.png" alt="Instagram"></a>
            <a href="#">Sucursales</a>
          </tr>
          <tr>
            <a href="#">Envíos</a>
            <a href="#"><img title="Tik Tok" src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/NE_Wtiktok_black_share_icon1189_tcm217_875969_a2d6207dfa.png" alt="tik tok"></a>
            <a href="#">Dirección</a>
          </tr>
        </tbody>
      </table>
  </table>
  -->