<!-- NAVBAR -->
<header class="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Indumentaria Deportiva</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/tpEvaluativoProgramacion/src/app/pages/inicio/inicio.component.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page">Vista De Visitante</a>
                    </li>
                </ul>
                
                <button class="nav-link"
                    href="/tpEvaluativoProgramacion/src/app/modules/autentificacion/inicio-sesion/inicio-sesion.component.html">Iniciar
                    Sesión</button>
                    <li></li>
                <button class="nav-link"
                    href="/tpEvaluativoProgramacion/src/app/modules/autentificacion/registro/registro.component.html">Registrarse</button>
            </div>
        </div>
    </nav>
</header>

<body>


    <!-- CARDS -->
    <div class="container" style="justify-content: center; display: flex;">
        <div class="row">
            <div class="card card border-primary mb-3" style="width: 18rem; margin: 10px;">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/c4c8dee7623f4209b76dfd333a68c812_9366/Camiseta_Titular_Argentina_24_Blanco_IP8400_01_laydown.jpg"
                    class="card-img-top" alt="Camiseta Argentina">
                <div class="card-body">
                    <p class="card-text">Camiseta Argentina Adidas</p>
                    <button class="btn btn-primary">COMPRAR</button>
                </div>
            </div>
            <div class="card card border-primary mb-3" style="width: 18rem; margin: 10px;">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/a4173bde5143404fa3b1010307733e8b_9366/Shorts_Titular_Negro_Argentina_24_Negro_IP8405_01_laydown.jpg"
                    class="card-img-top" alt="short Argentina">
                <div class="card-body">
                    <p class="card-text">Short Argentina Adidas</p>
                    <button class="btn btn-primary">COMPRAR</button>
                </div>
            </div>
            <div class="card card border-primary mb-3" style="width: 18rem; margin: 10px;">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/9bde25472b0149ee9a13e3e6c18f1734_9366/Campera_Presentacion_Argentina_24_Gris_IQ0805_01_laydown.jpg"
                    class="card-img-top" alt="campera Argentina">
                <div class="card-body">
                    <p class="card-text">Campera Argentina Adidas</p>
                    <button class="btn btn-primary">COMPRAR</button>
                </div>
            </div>
        </div>
    </div>
</body>
<footer class="row">
    <table class="col-12" style="margin-left: 5rem;">
        <thead>
            <tr>
                <th>Productos</th>
                <th>Asistencia</th>
                <th>Síguenos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Camisetas</td>
                <td>Preguntas Frecuentes</td>
                <td>Instagram</td>
            </tr>
            <tr>
                <td>Pantalones</td>
                <td>Realizar Compra</td>
                <td>Facebook</td>
            </tr>
            <tr>
                <td>Camperas</td>
                <td>Como Usar Nuestro Sitio</td>
                <td>N° De Contacto</td>
            </tr>
        </tbody>
    </table>

</footer>
