header {
    background-color: rgb(240, 227, 45); 
}
body {
    background-color: darkolivegreen;
}

footer {
    background-color: peru
}


/*este corresponde a pantallas más chicas. Ejemplo: celulares.*/
@media (min-width: 300px) and (max-width: 700px) {
    header {
        background-color: rgb(240, 227, 45);
    }
    body {
        background-color: darkolivegreen;
    }
    footer {
        background-color: peru;
    }
  #nav{
  display:none;
  }
    #cards{
  display:none;
  }
};


/*este es para pantallas más grandes. Ejemplo: computadoras, tablets*/
@media (min-width: 700px) {
    header {
        background-color: rgb(12, 142, 194);
    }
    body {
        background-color: darkolivegreen;
    }
    footer {
        background-color: peru;
    }
  #nav{
    display: none;
}
      #cards{
  display:none;
  }
};
