<!--carrousell-->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="width: 200px; height: 550px;"
        src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/br_f50_ss24_hp_mglp_clp_mh_banner_launch_d_26cbd38c4f.jpg"
        class="d-block w-100" alt="Messi-F50">
    </div>
    <div class="carousel-item">
      <img style="width: 200px; height: 550px;"
        src="https://yt3.googleusercontent.com/s2oMsLbWikTeeHrBH9Mks8Lzt93668UKVXYxaZdlRzsh6LsTOCdO76ocL1Kx3gxI0D2MALMNaMs=s900-c-k-c0x00ffffff-no-rj"
        class="d-block w-100" alt="AFA">
    </div>
    <div class="carousel-item">
      <img style="width: 200px; height: 550px;"
        src="https://assets.turbologo.com/blog/es/2019/11/19132946/puma-logo-cover-958x575.png" class="d-block w-100"
        alt="Puma">
    </div>
    <div class="carousel-item">
      <img style="width: 200px; height: 550px;"
        src="https://wallpapers.com/images/hd/white-nike-logo-macbook-pro-aesthetic-rbv7y6ba71chyfc9.jpg"
        class="d-block w-100" alt="Nike">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!--card de Productos Destacados-->
<h2 style="display: flex; justify-content: center;">Productos Destacados</h2>
<div class="container">
  <div class="row">
    <div class="col">
      <div *ngFor="let i of info" class="contenido">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{i.nombre}}</mat-card-title>
            <mat-card-subtitle>Precio: ${{i.precio}}</mat-card-subtitle>
          </mat-card-header>
          <span style="display: block; position: relative;">
            <img
              style="box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
              mat-card-image src="{{i.imagen}}" alt="{{i.alt}}">
          </span>
          <div data-testid="product-price" class="_product-card-assets__price_19dqy_2162 _price__overlay_15wqs_2145">
            <div class="gl-price gl-price--horizontal notranslate _price__row_15wqs_2104"
              data-testid="product-price-original">
              <div class="gl-price-item notranslate">
              </div>
            </div>
          </div>
          <mat-card-content>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="btn btn-success">COMPRAR</button>
            <button mat-button class="btn btn-primary">MAS INFO</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<!--ilustración Puma-->
<div class="container">
  <img
    src="https://ar.puma.com/media/contentmanager/content/24SS_Ecom_TS_Football_Phenomenal-Pack_Q1_Full-Bleed-Hero_Large_Desk_1440x500px_Future-Ultra.jpg"
    alt="ilustración Puma">
</div>

<!--
<div class="container">
  <h2>Ofertas Semanales</h2>
</div>
-->