/* You can add global styles to this file, and also import other style files */
/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/
/* estilos para modo oscuro */
body{
    transition: all 1.5s ease;
}
#toggle{
    display: none;
}
#label_toggle{
    position: static;
    cursor: pointer;
}
.dark{
    background-color: black;
    color: white;
    transition: all 1.5s ease;
}
*{
    color: black;
}

    .kalam-regular {
        font-family: "Kalam", cursive;
        font-weight: 400;
        font-style: normal;
      }


h1, h2, h3 {
    font-weight: 800; /* Negrita para encabezados */
}

p {
    font-weight: 500; /* Normal para párrafos */
}

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/
@media (min-width: 200px) and (max-width: 600px) {}

@media (min-width: 600px) {}
